.CalculatorBody
{
    background-color: #f19c9c;
    width: 80px;
    border: 3px solid black;
    border-radius: 4px;
}
#display
{
    background-color: rgb(201, 198, 198);
    border: 1px solid black;
    text-align: right;
    width: 77px;
    border-radius: 4px;
}
button
{
   background-color: aqua;
   border-radius: 50%;
   
}
button:hover
{
   background-color: rgb(232, 26, 64);

}
button:active
{
   background-color: rgb(80, 236, 49); 
   
}
h2:hover{
background: linear-gradient(violet,indigo,blue,green,yellow,orange,red);
color:transparent;
background-clip: text;
}
