.closeButton:active
{
   color:red;
   background-color: green;
}
#modal:hover{
font-size: larger;
text-decoration: underline red;
}
#one:checked
{
background-color: orange;
}
p:hover{
   color: red;
}